//color palette
$principal : #EB4897;
$principalDark : #c23077;
$secundario : #51DFF0;
$gradient :linear-gradient(328deg, rgba(252, 0, 122, 1) 0%, rgba(0, 225, 253, 1) 100%);
$black: #1e1d1d;
$grey: #bab5b5;


//typography
$font-principal: 'Roboto', sans-serif;
$font-Scundaria: 'Anton', sans-serif;

//medias queries
$movil: 480px;
$tablet: 900px;
$desktop: 1000px;




